<footer class="page-footer light-blue">
    <div class="container">
        <div class="row">
            <div class="col l5 s12">
                <h5 class="white-text">Bandejão PUC-Rio</h5>
                <p class="grey-text text-lighten-4">Esse site foi idealizado com o intuito de trazer informações mais precisas sobre o cardápio do restaurante
                    universitário da PUC-Rio.</p>

            </div>  
            <div class="col l1"><p></p></div>          
            <div class="col l3 s12 ">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Administrador</a></li>                    
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="https://www.facebook.com/bandejaopucrio">Facebook</a></li>
                    <li><a class="white-text" href="http://pucurgente.vrc.puc-rio.br">PUC Urgente</a></li>                    
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="">André Luiz C. A. Reis</a>
        </div>
    </div>
</footer>