<div class="hide-on-med-and-down">
    <div id="top-image" class="row center">
        <img src="/images/food_dome_top.png" width="300px" alt="Bandejão" />
    </div>
</div>
<nav class="mainColor" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo center">Bandejão PUC-Rio</a>
        <ul class="left hide-on-med-and-down">
            <li id="nav-cardapio" class=""><a href="./">Cardápio</a></li>
            <li id="nav-horarios" class=""><a href="/horarios">Horários</a></li>
            <li id="nav-precos" class=""><a href="/precos">Preços</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li id="nav-cardapio-mobile" class=""><a href="./">Cardápio</a></li>
            <li id="nav-horarios-mobile"><a href="/horarios">Horários</a></li>
            <li id="nav-precos-mobile"><a href="/precos">Preços</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>